Repository EspressoSystems/timeboost, pull requests merged in 2025-04, with the labels that each got.

#295 Add some metrics to sequencer.
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/metrics.rs
  timeboost-sequencer/src/queue.rs
  timeboost-types/src/retry_list.rs
Labels: timeboost

#296 Timeboost Bundle Format
  Cargo.toml
  sailfish/Cargo.toml
  tests/Cargo.toml
  timeboost-crypto/Cargo.toml
  timeboost-crypto/src/lib.rs
  timeboost-sequencer/Cargo.toml
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/include.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/queue.rs
  timeboost-sequencer/src/sort.rs
  timeboost-sequencer/tests/transaction-order.rs
  timeboost-types/Cargo.toml
  timeboost-types/src/address.rs
  timeboost-types/src/bundle.rs
  timeboost-types/src/bytes.rs
  timeboost-types/src/candidate_list.rs
  timeboost-types/src/inclusion_list.rs
  timeboost-types/src/lib.rs
  timeboost-types/src/retry_list.rs
  timeboost-types/src/transaction.rs
  timeboost-utils/Cargo.toml
  timeboost-utils/src/load_generation.rs
  timeboost/Cargo.toml
  timeboost/api/endpoints.toml
  timeboost/src/api/endpoints.rs
  timeboost/src/binaries/keygen.rs
  timeboost/src/gas/gas_estimator.rs
  timeboost/src/lib.rs
  timeboost/src/mempool.rs
Labels: timeboost

#300 Track connect tasks and improve log outputs.
  cliquenet/src/lib.rs
  sailfish-consensus/src/lib.rs
  sailfish-rbc/src/abraham/worker.rs
Labels: networking

#306 Fix merge.
  sailfish-rbc/src/abraham/worker.rs
Labels: bug

#298 Run demo with encrypted bundles
  test-configs/local.json
  timeboost-crypto/benches/decryption.rs
  timeboost-crypto/src/lib.rs
  timeboost-crypto/src/sg_encryption.rs
  timeboost-crypto/src/traits/threshold_enc.rs
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/queue.rs
  timeboost-sequencer/tests/transaction-order.rs
  timeboost-types/src/bundle.rs
  timeboost-utils/Cargo.toml
  timeboost-utils/src/load_generation.rs
  timeboost/src/lib.rs
Labels: timeboost, crypto

#289 Keep sailfish and timeboost in sync.
  docker-compose.yml
  docker/timeboost.Dockerfile
  sailfish-types/src/message.rs
  scripts/run-local-integration
  scripts/run-timeboost-demo
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/metrics.rs
  timeboost-sequencer/src/queue.rs
  timeboost-types/src/retry_list.rs
Labels: timeboost

#309 Reconnect
  cliquenet/src/lib.rs
  cliquenet/src/metrics.rs
Labels: networking

#308 Ensure deduplication cache invariants.
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/include.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/metrics.rs
  timeboost-sequencer/src/queue.rs
Labels: timeboost

#316 Provide ACK based reliability layer
  cliquenet/src/lib.rs
  cliquenet/src/metrics.rs
  cliquenet/src/reliable.rs
  cliquenet/src/unreliable.rs
  cliquenet/tests/frame-handling.rs
  sailfish-rbc/src/abraham/worker.rs
  sailfish-types/src/comm.rs
  tests/src/tests/network/external.rs
  tests/src/tests/rbc.rs
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost/src/binaries/sailfish.rs
Labels: networking

#315 Decryption phase with catchup support
  timeboost-crypto/Cargo.toml
  timeboost-sequencer/Cargo.toml
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost-types/src/bundle.rs
  timeboost-utils/src/load_generation.rs
Labels: networking, timeboost, crypto

#320 Use reliability layer in RBC too.
  cliquenet/Cargo.toml
  cliquenet/src/lib.rs
  cliquenet/src/net.rs
  cliquenet/src/overlay.rs
  cliquenet/tests/frame-handling.rs
  sailfish-rbc/Cargo.toml
  sailfish-rbc/src/abraham.rs
  sailfish-rbc/src/abraham/worker.rs
  sailfish-rbc/src/error.rs
  sailfish-types/src/comm.rs
  sailfish-types/src/lib.rs
  sailfish/Cargo.toml
  tests/src/tests/network/external.rs
  tests/src/tests/rbc.rs
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost/src/binaries/sailfish.rs
Labels: networking

#314 Use `CandidateListBytes` to estimate message size.
  cliquenet/src/net.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/queue.rs
  timeboost-types/Cargo.toml
  timeboost-types/src/candidate_list.rs
  timeboost-types/src/lib.rs
Labels: networking, timeboost

#323 Use `Bucket`s in `Overlay`.
  cliquenet/src/overlay.rs
  cliquenet/tests/frame-handling.rs
  sailfish-rbc/src/abraham/worker.rs
  timeboost-sequencer/src/decrypt.rs
Labels: networking

#322 Collect round info when recovering.
  .github/workflows/build-and-test.yml
  cliquenet/src/overlay.rs
  sailfish-rbc/src/abraham.rs
  sailfish-rbc/src/abraham/worker.rs
  sailfish-types/src/message.rs
  scripts/run-sailfish-demo
  scripts/run-timeboost-demo
  scripts/runit
  tests/src/tests/consensus/helpers/node_instrument.rs
  tests/src/tests/network/external.rs
  tests/src/tests/rbc.rs
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/tests/transaction-order.rs
  timeboost/src/binaries/builder.rs
  timeboost/src/binaries/sailfish.rs
  timeboost/src/lib.rs
Labels: networking, consensus

#325 Block production init
  Cargo.toml
  cliquenet/src/lib.rs
  cliquenet/src/net.rs
  timeboost-sequencer/src/decrypt.rs
  timeboost-sequencer/src/lib.rs
  timeboost-sequencer/src/multiplex.rs
  timeboost-sequencer/src/produce.rs
  timeboost-sequencer/src/sort.rs
  timeboost-sequencer/tests/transaction-order.rs
  timeboost-types/Cargo.toml
  timeboost-types/src/block.rs
  timeboost-types/src/bundle.rs
  timeboost-types/src/lib.rs
  timeboost/src/lib.rs
Labels: networking, timeboost
